<div>
    <h2>Bienvenido {{user.first_name}}</h2>
    {{#each products }}
        <div>
            <a href="/product/{{this._id}}">
                <b>{{this.title}}</b>
                <img src="{{this.img}}" height="50">
                <i>{{this.description}}</i>
            </a>
        </div>
    {{/each}}
</div>